.flashcard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 392px;
        height: 575.75px;
        background: #ffffff;
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
        position: relative;
        text-align: center;
        padding: 0 49px;
        margin-top: calc((100vh - 575.75px) / 2);
}

.question h1 {
        font-weight: bold;
        font-size: 28px;
        color: #000000;
}

.counter {
        font-size: 18px;
        color: #000000;
        position: absolute;
        right: 12px;
        top: 12px;
}

.turn {
        width: 40px;
        position: absolute;
        bottom: 12px;
        right: 12px;
}

.turn:hover {
  cursor: pointer;
}
